# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcworkspace
!/*.xcodeproj/project.pbxproj

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# User settings
*.xcuserstate
.idea

# macOS
*.swp
